:root {
    --mainColor: #0095CC;
    --premierColor: #F57320;
    --secondColor: #F3F0F5;
    --ThirdColor: #0095CC;  
    --fourColor: #231F20;  
    --fiveColor: #EC2F64;  
    --fontFamily1: "Arial";
  }
  
*{
    margin : 0 ;
    padding :0;
}
body{
    font-family: var(--fontFamily1) ;

}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fourColor);
    color: var(--secondColor);
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--secondColor);
    padding: 1rem;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.main{
    width: 100%;  
    
}

.icon{
    cursor: pointer; 
}


.logo{
    color: var(--fiveColor);
    font-size: 30px;
}
.logo span{
    color: var(--ThirdColor);
}
.logo > span:first-child {
    color: var(--premierColor);
   }
.navbar {
    flex: 1;
    text-align: right;

}

.navbar  ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.navbar  ul li a{
    text-decoration: none;
    color: var(--secondColor);
    font-family: var(--fontFamily1);
    font-size: 20px;
    
}
.navbar  ul li a:hover{
    color: var(--premierColor);
    
}
.current-page{
    /* : var(--ThirdColor); */
    border-bottom: 4px solid var(--premierColor);
    
}

.contact{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/image/pexels-andrea-piacquadio-787476.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
   padding-top: 50px;
    
}
.contact h1{
    text-align: center;
    color: var(--secondColor);
    
}
.contact .send-message{
    height:500px;
   
    
}

.send-message input{
    flex-direction: column;
    font-size: 19px;
    display: flex;

    /* border: none; */
    width: 70%;
    height: 45px;
    outline: none   ;
    border-bottom: rgb(0, 0, 0);
    background-color:var(--secondColor); 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 8px;
    
}
.send-message textarea{
    flex-direction: column;
    font-size: 19px;
    display: flex;
    padding: 8px;
    /* border: none; */
    width: 70%;
    outline: none   ;
    border-bottom: rgb(0, 0, 0);
    background-color: var(--secondColor); 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.send-message button{
    flex-direction: column;
    font-size: 19px;
    display: flex;
    /* border: none; */
    background-color: var(--fourColor);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px ;
    color: var(--secondColor) ;
    border-radius: 10px;
    
}

.style-contact{
    background-color: var(--mainColor);
    width: 79.5%;
    margin-right: auto;
    margin-left:auto ;
    padding-top: 70px;
    border-radius: 10px;
}
#write-message{
    display: flex;
}

.footer-container{
    background-color: var(--fourColor);
    padding: 2rem 0 ;
    letter-spacing: 2px;

}

.footer{
    width: 80%;
    
    background-color: var(--fourColor);
    color: var(--secondColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 1.4rem;
}
.footer-heading a{
    color: var(--secondColor);
    text-decoration: none;
    margin-bottom: 1em;
}
.footer-heading a:hover{
    color: var(--premierColor);
    transition: 0.3s ease-out;
}
.footer-email-form h2{
    margin-bottom: 1.4rem;
}
#footer-email{
    width: 250px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-bottom:2rem ;
}
#footer-email-btn{
    width: 100px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--premierColor);
    color: var(--secondColor);
    text-transform: uppercase;
    cursor: pointer;
}
#footer-email::placeholder{
    color: var(--mainColor);
}
#footer-email-btn:hover{
    background-color: var(--mainColor);
    color: var(--secondColor);
    transition: all 0.4s ease-out;
}
.footer-email-form select {
    display: flex;
    width: 355px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--premierColor);
    color: var(--secondColor);
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    padding-left: 1rem;
}
.footer-email-form select option{
    color: var(--fourColor);
    background-color: var(--secondColor);
}
.footer-email-form select:hover{
    color: var(--secondColor);
    background-color: var(--mainColor);
}
.privacy a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: var(--secondColor);

}
.privacy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 12px ;
}


@media (max-width: 800px) {
  
    .style-contact h1{
        font-size: 20px;
    }
    .navbar {
        width: 100%;


    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar ul li a {
        padding: .5rem 1rem;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 16px;
    }

    .navbar-links.active {
        display: flex;
        font-size: 10px !important;
    }
    
    .contact h1{
        text-align: center;
        color: var(--secondColor);
        
    }
    .contact .send-message{
        height:440px;
       
        
    }
    
    .send-message input{
        flex-direction: column;
        font-size: 15px;
        display: flex;
        /* border: none; */
        width: 70%;
        height: 40px;
        outline: none   ;
        border-bottom: rgb(0, 0, 0);
        background-color:var(--secondColor); 
        margin-top: 15px;
        border-radius: 8px;
        padding: 5px;
        
    }
    
    .send-message textarea{
        flex-direction: column;
        font-size: 15px;
        display: flex;
        padding: 8px;
        /* border: none; */
        width: 70%;
        outline: none   ;
        border-bottom: rgb(0, 0, 0);
        background-color: var(--secondColor); 
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        border-radius: 10px;
    }
    .send-message button{
        flex-direction: column;
        font-size: 14px;
        display: flex;
        /* border: none; */
        background-color: var(--fourColor);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 14px ;
        color: var(--secondColor) ;
        border-radius: 10px;
        
    }
    
    .style-contact{
        background-color: var(--mainColor);
        width: 79.5%;
        margin-right: auto;
        margin-left:auto ;
        padding-top: 70px;
        border-radius: 0 0 10px 10px;
    }
    #write-message{
        display: flex;
    }
    footer{
        background-color: var(--fourColor);
    }
    

    .footer{
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        height: 350px !important;
    }
    .company{
        color: var(--secondColor);
    }
    .company  ul li {
        list-style: none;
        margin-top: 8px;

    }
    .company ul li a{
        text-decoration: none;
        color:var(--secondColor);
        font-size: 12px;


    }
    .country h1{
        color:var(--secondColor);
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .privacy{
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .privacy ul li  {
        display: inline-block;
        list-style: none;
        margin-left:5%;
    
    }
    
    .privacy ul li a{
        text-decoration: none;
        color: gray;
        font-size: 10px;
    
    }
    .country select{
        padding: 6px 10px 6px 10px ;
        background-color: var(--mainColor);
        border: 2px solid var(--secondColor);
        border-radius:4px ;
        color: var(--secondColor);
        margin-bottom: 20px;
    }
    .country select option{
        padding: 7px 10px 7px 10px ;
        font-size :  14px;
        background-color: white !important;
        color: var(--fourColor) !important;
        
        }
    .footer{
        height:350px !important; 
    }

    .footer-email-form{

        display: none;
         
    }

}
@media screen and (max-width:667px){
    .style-contact h1{
        font-size: 16px;
    }
.footer{
    font-size: 80%;
    display: block !important;
    height:500px !important; 
}
.toggle-button {
    position: absolute;
    top: .9rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 12px;
}

.toggle-button .bar {
    height: 2.0px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.logo span{
  font-size: 16px;
}

.brand-title {
margin: 0rem 0.1rem 0.1rem 0.1rem;
}
}
/* .footer-email-form{
    display: none;  
} */
.privacy a{
    margin-left: 10px;
    display: block;
    margin-top: 8px;

}


