:root {
  --mainColor: #0095CC;  
  --premierColor: #F57320;
  --secondColor: #F3F0F5;
  --fourColor: #231F20;  
  --fiveColor: #EC2F64;  
  --fontFamily1: "Arial";
  
}

*{
  margin : 0 ;
  padding :0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  font-family: var(--fontFamily1) ;
  letter-spacing: 2px

}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fourColor);
  color: var(--secondColor);
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--secondColor);
  padding: 1rem;
}


.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.main{
  width: 100%;  
  
}

.icon{
  cursor: pointer; 
}


.logo{
  color: var(--fiveColor);
  font-size: 30px;
}
.logo span{
  color: var(--mainColor);
}
.logo > span:first-child {
  color: var(--premierColor);
 }
.navbar {
  flex: 1;
  text-align: right;

}

.navbar  ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.navbar  ul li a{
  text-decoration: none;
  color: var(--secondColor);
  font-family: var(--fontFamily1);
  font-size: 20px;
  
}
.navbar  ul li a:hover{
  color: var(--premierColor);
  
}
.current-page{
  /* : var(--mainColor); */
  border-bottom: 4px solid var(--premierColor);
  
}
#title{
  background-color: var(--fourColor);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.selector-item-container img{
  position: relative;
 
}

.selection{
  position: absolute;
  top:200px;
  left: 50%;
    transform: translate(-50%, 0);
  background-color: #231F20;
  color: #fff;
  padding: 0px 0;
  border-radius: 10px;
  width: 60%;
  min-width: 700px;
}


.selection h2:first-child{
  text-align: start;
  margin-bottom: 10px;
  background-color: var(--premierColor);
  color: #EFFCFF;
  margin-top: 0;
  border-radius:10px 0 10px 0;
  padding: 5px;
  font-size: 20px;
}
.selection h2{
  text-align: start;
  margin-bottom: 20px;
  background-color: var(--premierColor);
  color: #EFFCFF;
  margin-top: 10px;
  border-radius:0 10px 10px 0;
  padding: 5px;
  font-size: 20px;
}
.selection h3{
  float: right;
  background-color: var(--premierColor);
  color: #EFFCFF;
  width: 50%;
  border-radius:0 10px 0 10px ;
  padding: 5px;
  font-size: 20px;
  padding: 5px;
  
}
.selection h2,h3 {
  display: inline-block;
}
.items-selectors{
  width: 95%;
  margin: 20px auto;
}

.items-selectors  select{
  padding: 10px 40px;
  outline: none;
  border: none;
  margin-left: 6%;
  border-radius: 6px;
  font-size: 16px !important;
 
}
.items-selectors  input{
  padding: 10px 0px 10px 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 15px;
 width:15%;
}
.selection button{
  background-color: var(--mainColor);
  outline: none;
  border:none;
  font-size: 1.2rem;
  color:var(--secondColor);
  margin-top: 20px;
  font-weight: 600;

}
.selection button:hover{
  color:var(--secondColor);
  box-shadow :1px 2px;

}
.btn{
  text-align: center;
}
.style-output{
  background-color: #fff;
  color: black;
   width: 50%;
   min-width: 350px;
   padding: 10px ;
   border-radius: 5px;
   margin-top: 30px;
   margin-left: auto ;
   margin-right: auto ;

}


.country-selector select,button{
  width: 22%;
  margin-right: 7px;
  margin-left:0px ;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 10px 10px 10px 5px !important;
}

#search-filter{
  text-align: center;
}
#locationCountry{
  text-align: center;
}
/* main items */




/* footer */


.footer-container{
  background-color: var(--fourColor);
  padding: 2rem 0 ;
  letter-spacing: 2px;

}
.footer{
  width: 90%;
  height: 350px;
  background-color: var(--fourColor);
  color: var(--secondColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
}
.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;

}
.footer-heading h2{
  margin-bottom: 1.4rem;
}
.footer-heading a{
  color: var(--secondColor);
  text-decoration: none;
  margin-bottom: 1em;
}
.footer-heading a:hover{
  color: var(--premierColor);
  transition: 0.3s ease-out;
}
.footer-email-form h2{
  margin-bottom: 1.4rem;
}
#footer-email{
  width: 250px;
  height: 40px;
  border:none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 0.5rem;
  margin-bottom:2rem ;
}
#footer-email-btn{
  width: 100px;
  height: 40px;
  border:none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--premierColor);
  color: var(--secondColor);
  text-transform: uppercase;
  cursor: pointer;
}
#footer-email::placeholder{
  color: var(--mainColor);
}
#footer-email-btn:hover{
  background-color: var(--mainColor);
  color: var(--secondColor);
  transition: all 0.4s ease-out;
}
.footer-email-form select {
  display: flex;
  width: 355px;
  height: 40px;
  border:none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--premierColor);
  color: var(--secondColor);
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
  padding-left: 1rem;
}
.footer-email-form select option{
  color: var(--fourColor);
  background-color: var(--secondColor);
}
.footer-email-form select:hover{
  color: var(--secondColor);
  background-color: var(--mainColor);
}
.privacy a{
  display: flex;
  text-align: center;
  text-decoration: none;
  color: var(--secondColor);

}
.privacy{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 14px ;
}

@media screen and (max-width: 1212px){
  
  .footer{
      height:350px;
  }


}
@media screen and (max-width: 940px){
  
 
  .footer{
      height:700px;
  }
}

@media (max-width: 800px) {
  body{
    font-size: 80%;
  }
  #locationCountry{
    text-align: center;
  }
  .navbar {
      width: 100%;
  }
  header{
    z-index: 2;
    position: absolute;
    width: 100%;
    }
  .navbar ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar ul li {
      text-align: center;
  }

  .navbar ul li a {
      padding: .5rem 1rem;
  }
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
      font-size: 16px;
  }

  .navbar-links.active {
      display: flex;
  }

  /* main */
  
.selection{
  position: absolute;
  top:60px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #231F20;
  color: #fff;
  padding: 0px 0;
  border-radius: 10px;
  width: 50%;
  max-width: 600px;
  min-width: 250px;
  

}
.items-selectors  input{
  padding: 10px 0px 10px 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
 width:80%;
}
.style-output{
  background-color: #fff;
  color: black;
   width: 80%;
   min-width: 100px;
   padding: 10px ;
   border-radius: 5px;
   margin-top: 30px;
   font-size: 12px;

}

.selection h2:first-child{
  text-align: start;
  margin-bottom: 10px;
  background-color: var(--premierColor);
  color: #EFFCFF;
  margin-top: 0;
  border-radius:10px 0 10px 0;
  padding: 5px;
  font-size: 15px;
}
.selection h2{
  text-align: start;
  margin-bottom: 10px;
  background-color: var(--premierColor);
  color: #EFFCFF;
  margin-top: 20px;
  border-radius:0 10px 10px 0;
  padding: 5px;
  font-size: 15px;
}


.selection h3{
  float: right;
  background-color: var(--premierColor);
  color: #EFFCFF;
  width: 50%;
  border-radius:0 10px 0 10px ;
  padding: 5px;
  font-size: 15px;
  padding: 5px;
  
}
.selection h2,h3 {
  display: inline-block;
}
.items-selectors{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
 
}

.items-selectors  select{
  padding: 10px 40px;
  outline: none;
  border: none;
  margin-left: 6%;
  border-radius: 6px;
  font-size: 12px !important;
  
}
.selection button{
  background-color: var(--mainColor);
  outline: none;
  border:none;
  padding: 10px 15px;
  margin-right: 50px;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-top: 10px; 
  color:var(--secondColor);
  width: 100px;

}
.selection button:hover{
  background-color: var(--mainColor);
  outline: none;
  border:none;
  padding: 12px 22px; 
  font-size: 1.3rem;
  border-radius: 10px;
  margin-top: 10px;
  color:var(--secondColor);
  box-shadow :1px 2px;

}

.country-selector select,button{
  width: 80%;
  margin-right: 7px;
  margin-left:0px ;
  margin-bottom: 20px ;

  padding: 10px 10px 10px 5px !important;
}



  /* footer */
  .footer{
    height:750px; 
  }

.footer-email-form{
    display: block;  
}
.image-desc img{
  width: 100%;
}
.btn{
  width: 100%;
  justify-content: space-evenly;
}
.btn button{
  margin-right:0 ;
  margin-left: 0;
  font-size: 14px;
}

}
@media screen and (max-width:667px){
  .footer{
      /* display: block !important; */
      height:300px;
  }
  .footer-email-form{
      display: none;  
  }
  .footer-1{
    margin-top: 0 !important;
  }
  .toggle-button {
    position: absolute;
    top: .9rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 12px;
}

.toggle-button .bar {
    height: 2.0px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.logo span{
  font-size: 16px;
}

.brand-title {
margin: 0rem 0.1rem 0.1rem 0.1rem;
}
.btn button{
  margin-right:0 ;
  margin-left: 0;
  font-size: 14px;
}
.btn button:hover{
  margin-right:0 ;
  margin-left: 0;
  font-size: 14px;
}

  
}
@media screen and (max-width:572px){
  
  .footer{
    /* display: block !important; */
    height:600px;
}
  
  .selection{
    position: absolute;
    top:60px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #231F20;
    color: #fff;
    padding: 0px 0;
    border-radius: 10px;
    width: 80%;
  
  }
  .privacy a{
    margin-top: 9px;

  }
}
